.courses {
    display: flex;
    flex-wrap: wrap; /* Добавляем перенос, если блоки не помещаются */
    margin-bottom: 15px;
}

.courses > *:first-child {
    margin-left: 0;
}

.courses > *:last-child {
    margin-right: 0;
}

.courses > * {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px; /* Добавляем отступ снизу для переносов */
    flex: 1 1 30%; /* Устанавливаем гибкую ширину для адаптивности */
}

.course-item-title {
    font-weight: 700;
    font-size: 18px;
}

.course-item-value {
    font-size: 32px;
    font-weight: 300;
}

.course-item-value.top {
    color: rgb(255, 51, 51);
}

.course-item-value.bottom {
    color: rgb(19, 189, 61);
}


.footer__link {
    margin: 0 15px;
}